/* Light mode (default) */
:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-toolbar-background: #f8f8f8;
    --ion-tab-bar-background: #f8f8f8;
  }
  
  /* Dark mode */
  body.dark {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #1e1e1e;
    --ion-tab-bar-background: #1e1e1e;
  }
  